*{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    background-color: rgb(136, 216, 112);
    color: rgb(192, 114, 13);
    font-family: Arial;
}

.container{
    border: 3px solid rgb(36, 165, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(169, 117, 212);
    width: 100%;
}

  @media (max-width: 850px){
    .navBarText{
      animation: slide-in .5s forwards;
     -webkit-animation: slide-in .5s forwards;
    }
  
    .navHamburger{
      display: flex;
      position: absolute; 
      right: 0px;
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }
  
    .hamburgerText{
      display: flex;
    }
  }

  @keyframes slide-in {
    0% { transform: translateX(300%); }
    50% { transform: translateX(300%); }
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(300%); }
    50% { -webkit-transform: translateX(300%); }
    100% { -webkit-transform: translateX(0%); }
  }
  
  
  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(300%); }
  }
  
  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(300%); }
  }

  